*::-moz-selection {
  background: none;
  pointer-events: none;
}

*::selection {
  background: none;
  pointer-events: none;
}

body {
  background: red;
  text-align: center;
}
body .Home img {
  width: 300px;
}
body .About {
  display: grid;
  justify-content: center;
}